* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-primaria: #9be394;
  --cor-secundaria: #5edf1d;
  --cor-verde-musgo:#327406;
  --cor-fonte: aliceblue;
  --cor-fonte-2: #1a4b02;
}

#hero,
#sobre,
#skills,
#projetos {
  padding: 3rem 0;

  p,
  li {
    font-size: large;
  }

  h2 {
    color: var(--cor-primaria);
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  /*background: linear-gradient(135deg, #000000 0%, #1a1a1a 50%, #333333 100%);*/
  background-image: url(/assets/img/img.freepik.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: var(--cor-fonte);
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  padding: 0 6.25rem;
  margin-top: 1.875rem;
}

/* Estilo base para botões e links estilo botão */
button,
a.btn {
  display: inline-block; /* para os <a> se comportarem como botões */
  border: 0.063rem solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 1.25rem;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  text-decoration: none;
}

/* Botão "Contato" */
a.btn.contato {
  background-color: var(--cor-primaria);
  color: var(--cor-fonte-2);
  font-weight: bold;
}

a.btn.contato:hover {
  background-color: color-mix(in srgb, var(--cor-secundaria) 40%, black);
  border-color: var(--cor-fonte-2);
  color: var(--cor-primaria);
}

/* Botão "Projetos" */

a.btn.projetos {
  background-color: transparent;
  border: 1px solid var(--cor-primaria);
  color: var(--cor-secundaria);
  font-weight: bold;
}

a.btn.projetos:hover {
  background-color:var(--cor-verde-musgo);
  border-color: var(--cor-primaria);
  color: var(--cor-fonte);
}

header {
  /*border: 1px solid white;*/
  display: flex;
  align-items: center;
  justify-content: space-between;

  /*logo*/
  img {
    width: 5%;
    margin-right: 1rem;
  }
}

nav {
  /*border: 1px solid #B76E6F;*/
  font-size: 1.125rem;
  flex: 1;

  ul {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    cursor: pointer;
  }

  li,
  a {
    font-weight: 500;
    text-decoration: none;
    color: var(--cor-fonte);

    &:hover {
      color: var(--cor-secundaria);
    }
  }
}

#hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  justify-items: flex-end;
  margin-top: 6.25rem;

  /*border: 1px solid purple;*/

  article {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    /*border: 1px solid orange;*/

    .tag{
      font-size: 2rem;
      font-weight:500;
    }

    > p {
      font-size: 1.5rem;
      line-height: 1.8rem; /*padroniza tamanho da linha*/
    }

    .destaque {
      font-size: xx-large;
      font-style: italic;
      color: var(--cor-secundaria);
      font-weight: 600;
    }

    .titulo {
      color: var(--cor-primaria);
      font-size: 5.5rem;
      font-weight: bolder;
      line-height: 3.5rem;

      .enfase {
        color: var(--cor-secundaria);
      }
    }
  }

  .foto-container {
    align-items: center;
    border: 1px solid var(--cor-primaria);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 420px;
    height: 420px;
    margin-right: 3rem;

    img {
      width: 80%;
      aspect-ratio: 1/1; /*mantem uma proporção fixa entre a largura e altura da img*/
      object-fit: cover;
      border-radius: 50%;
      object-fit: cover;
      display: block;
    }
  }
}

#sobre {
  margin-top: 4rem;
  article {
    line-height: 1.5rem;

    p {
      margin-bottom: 1rem;
    }
  }

  h4 {
    color: var(--cor-primaria);
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  ul {
    li {
      list-style: disc;
      margin-left: 1rem;
    }
  }

  .enfase {
    color: var(--cor-secundaria);
  }

  .material-symbols-outlined{
    font-size: 1.8rem;
  }
}

#skills {
  p {
    margin-bottom: 3rem;
  }

  .container-icones {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    white-space: nowrap;
    /*background: #000;*/
    padding: 20px 0;
    margin-inline: auto;
    mask: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
  }

  .scroll__container{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    width: max-content;
    animation: scrollInfinito 10s linear infinite;
  }

  i {
    color: #09df7b;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  i:hover {
    transform: scale(1.1);
    color: var(--cor-secundaria);
  }

    .container-icones:hover .scroll__container {
    animation-play-state: paused;
  }

}

@keyframes scrollInfinito {
  to{
    translate: calc(-50% - 24px) /*24px metade de 3rem q é o gap entre os icones*/
  }

}

footer{
    display: flex;
    justify-content: center;
    /*background-color: black;*/
    padding: 1.25rem;
    margin: 0 -6.25rem 0 -6.25rem;
    margin-bottom: 2rem;

    li, a{
      display: inline;
      list-style: none;
      text-decoration: none;
      margin-bottom: 0.5rem;
  }

  a:link,
  a:visited {
    color: rgb(50, 116, 6);
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: var(--cor-secundaria);
  }

  .social-network{
    display: flex;
    justify-content: space-evenly;
  }

  p{
    margin-top: 0.5rem;
    align-items: center;
    color: var(--cor-primaria);
  }

}

/*****************************
  RESPONSIVIDADE PAG INICIAL
******************************/

@media(max-width: 1133px){
  .foto-container{
    margin-left: 3rem;
  }
}

@media(max-width: 1038px){
  body{
    margin: 1rem 0 1rem 3rem;
    padding: 0;
  }
}

@media(max-width: 833px){
  
  html, body {
    overflow-x: hidden;
  }

  body{
    display:flex;
    flex-direction: column;
    margin: 3% 10% 2% 10%;
    padding: 0;
  }

  section{
    width: auto;
    margin: 0;
  }

  .container-icones{}

  #hero{
    display:flex;
    flex-direction: column;
    gap: 4rem;
    margin-right: 0;
    margin-top: 3rem;
  }
  
  #sobre{
    margin-top: 0;
  }

  #skills{
    margin: 0;
  }

  footer{
    margin: 0;
  }

}

@media(max-width: 600px){
  
  html, body {
    overflow-x: hidden;
  }

  body{
    margin: 3% 10% 2% 10%;
  }
  
  #hero{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-right: 0;
    margin-top: 3rem;
    
    .foto-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--cor-primaria);
      border-radius: 50%;
      width: min(800px, 70vw); /* ajusta conforme o espaço */
      height:  min(800px, 70vw);
      /*width: fit-content;*/
      padding: 0.5rem;
      margin: 0;
    }
    
    img {
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 50%;
      object-fit: cover;
      display: block;
    }

  }

  #skills{
    margin: 0;
  }
  
  footer{
    display: flex;
    justify-content: center;
    margin: 0 -1.30rem 0 -1.30rem;

      li, a{
      width: 20px;
      display: inline;
    }

    .footer__icones a{
      font-size: 2rem !important;
    }

    p{
      font-size: smaller;
    }
  }
  
}

@media(max-width: 600px){

  #hero{

    article{
      display: flex;
      flex-direction: column !important;
      flex-wrap: wrap !important; /* permite quebra se necessário */
      
      .tag{
        font-size: medium;
      }
      
      p{
        font-size:medium;
      }

      .destaque{
          font-size: medium;
      }

      .titulo{
        font-size: 5rem;
      }

    }
  }

  #sobre, #skills{
      h2{
      font-size: 4rem;
    }
  }

  #hero, #sobre{
      margin-top: 0;
  }
}

@media(max-width: 440px){

  body{
    margin-top: 1.5rem;
  }

  nav{
      
    ul{
      gap: 1rem;
    }

    li, a{
        font-size: small;
      }
    }

  #hero{

    article{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      
        h1, h3 {
        margin: 0;
        margin-bottom: 0.3rem !important;
        line-height: 1.2rem !important; /* ajusta a altura das próprias linhas */
      }

      .tag{
        font-size: small;
      }
      
      p{
        font-size:small;
      }

      .destaque{
          font-size: medium;
      }

      .titulo{
        font-size: 3rem;
      }

      button{
        font-size: smaller;
      }

    }
  }

  section{
    p{
        font-size:small;
    }
  }

  #sobre, #skills{
      h2{
      font-size: 2rem;
    }

    p, li{
      font-size: small;
    }

    padding: 1rem;
  }
  
  #hero, #sobre{
    margin-top: 0;
  }
}

/**********************
  ESTILO PAG PROJETOS
***********************/
#projetos{

  margin-top: 4rem;
  article {
    line-height: 1.5rem;
  }

  p {
      margin-bottom: 1rem;
    }

  h3 {
    color: var(--cor-primaria);
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  ul {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
    li {
      list-style: disc;
      margin-left: 1rem;
      /* margin-bottom: 10px; */
    }

      /* li:last-child {
      margin-bottom: 0;
    } */
  }

  .enfase {
    color: var(--cor-secundaria);
  }
  .slider{
    margin:auto;
    width: 50rem;
    height: 50rem;
    overflow: hidden;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .slides{
    width: 400%;
    height: 25rem;
    display: flex;
  }

  .slides input{
    display: none;
  }

  .slide{
    width: 25%;
    position: relative;
  }

  .slides img{
    width: 50rem;
  }

  .navegacao-manual{
    position: absolute;
    width: 50rem;
    margin-top: -3.438rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
  }

  .navigation-auto{
    background-color: rgb(2, 27, 16);
    border-radius: 0 0 0.5rem 0.5rem;
    /* border: 2px solid red; */
    position: absolute;
    width: 50rem;
    margin-top: 23.75rem; /*ajusta a posição vertical da div navigation-auto*/
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .navigation-auto div.nav-btn:not(:last-child){
    margin-right: 0.5rem; /*espaço entre as divs navigation-auto para encaixar nos btns radios*/
  }

  .navigation-auto div{
    border: 0.125rem solid var(--cor-primaria);
    padding: 0.313rem;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: 1s;
  }

  /*manual-btn sobrepoe  nav-btn auto-btn1 então deixo ele com borda transparente*/
  .manual-btn{
    border: 0.125rem solid transparent;
    padding: 0.313rem;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: 1s;
  }

  .manual-btn:not(:last-child){
    margin-right: 0.5rem;
  }

  .manual-btn:hover{
    background-color: var(--cor-secundaria);
  }
  .navegacao-manual div.manual-btn:not(:last-child){
    margin-right: 2.5rem; /*espaço entre os btns radios dos slides*/
  }

  #radio1:checked ~ .first{
    margin-left: 0;
  }

  #radio2:checked ~ .first{
    margin-left: -25%;
  }

  #radio3:checked ~ .first{
    margin-left: -50%;
  }

   #radio4:checked ~ .first{
    margin-left: -75%;
  }

   #radio5:checked ~ .first{
    margin-left: -100%;
  }

   #radio6:checked ~ .first{
    margin-left: -125%;
  }

   #radio7:checked ~ .first{
    margin-left: -150%;
  }

   #radio8:checked ~ .first{
    margin-left: -175%;
  }

   #radio9:checked ~ .first{
    margin-left: -200%;
  }

   #radio10:checked ~ .first{
    margin-left: -225%;
  }

  /* Destaque do botão ativo na navegação automática **/
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--cor-primaria);
  }
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--cor-primaria);
  }
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--cor-primaria);
  }
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--cor-primaria);
  }
  #radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: var(--cor-primaria);
  }
  #radio6:checked ~ .navigation-auto .auto-btn6{
    background-color: var(--cor-primaria);
  }
  #radio7:checked ~ .navigation-auto .auto-btn7{
    background-color: var(--cor-primaria);
  }
  #radio8:checked ~ .navigation-auto .auto-btn8{
    background-color: var(--cor-primaria);
  }
  #radio9:checked ~ .navigation-auto .auto-btn9{
    background-color: var(--cor-primaria);
  }

  #radio10:checked ~ .navigation-auto .auto-btn10{
    background-color: var(--cor-primaria);
  }

  .projeto-links {
    text-align: center;
    margin-top: 4em;
  }

  .projeto-links a {
    text-decoration: none;
    color: var(--cor-primaria);
    transition: color 0.3s ease;
  }

  .projeto-links a:hover {
    color: var(--cor-secundaria);
  }

}
